
@model EditGameFormVM

@{
	ViewData["Tiltle"] = "Edit game";
}


<h5>
	<i class="bi bi-plus-circle"></i>
	Edit Game
</h5>

<form asp-action="Edit" enctype="multipart/form-data">
	<div class="row">
		<div class="col-md-6 ">
			<div class="form-group">
				<label class="form-label mt-4  border-primary" asp-for="Name"></label>
				<input type="text" class="form-control text-primary-emphasis" asp-for=Name placeholder="Enter game's name">
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label class="form-label mt-4  border-primary" asp-for="CategoryId"></label>
				<select class="form-select text-primary-emphasis" asp-for="CategoryId" asp-items="Model.Categories"
						data-placeholder="select a category" data-minimum-results-for-search="Infinity">
					<option value=""></option>
				</select>
				<span asp-validation-for="CategoryId" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label class="form-label mt-4 border-primary" asp-for="SelectedDevices"></label>
				<select class="form-select text-primary-emphasis" asp-for="SelectedDevices" asp-items="Model.Devices"
						data-placeholder="select a category">
					<option value=""></option>
				</select>
				<span asp-validation-for="SelectedDevices" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label class="form-label mt-4 border-primary " asp-for="Description"></label>
				<textarea class="form-control text-primary-emphasis" asp-for="Description" placeholder="Description"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>

			<div class="form-group">
				<label class="form-label mt-4  border-primary" asp-for="Cover"></label>
				<input type="file" class="form-control link-danger text-primary-emphasis border-primary"
					   asp-for=Cover placeholder="Upload game's Cover"
					   data-rule-extension="@FileSettings.AllowedExtensions.Replace(".",string.Empty)"
					   data-msg-extension="Not allowed Extension"
					   data-rule-fileSize="@FileSettings.MaxFileSizeInBytes"
					   data-msg-fileSize="Maximum allowed Size is (@FileSettings.MaxFileSizeInMB) MB.">
				<small class="form-text text-muted">Only @FileSettings.AllowedExtensions files are allowed with max size @FileSettings.MaxFileSizeInMB MB.</small>
				<span asp-validation-for="Cover" class="text-danger d-block"></span>
			</div>

			<button type="submit" class="btn btn-primary btn-lg mt-4">Save</button>
		</div>
		<div class="col-md-6 d-flex justify-content-center pt-4 overflow-hidden">
			<img class="cover-preview" src="@($"{FileSettings.ImagesPath}/{Model.CurrentCover}")" alt="Cover" />
		</div>

	</div>
</form>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
	<script src="~/js/filesize-validator.js" asp-appedn-version="true"></script>
	<script src="~/js/game-form.js" asp-appedn-version="true"></script>
}

